<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=279826e384548af3dcc55dae17451e73&libraries=services"></script>
    <title>시티헌터</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer/list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.timepicker.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.timepicker.min.js}"></script>
</head>
<script>
    window.onload = function () {
        $('.time').timepicker();
    }
    function setPeople(id) {
        if(id != null || id != ""){
            const start_time = document.getElementById("start_time_"+id).value;
            const finish_time = document.getElementById("finish_time_"+id).value;
            if(compareTime(start_time, finish_time, id) > 0) {return;}

            const now_capacity = document.getElementById("now_capacity_"+id).value;
            const female = document.getElementById("female_"+id).value;
            const male = document.getElementById("male_"+id).value;
            if((Number(female) + Number(male)) > Number(now_capacity)){
                document.getElementById("female_"+id).classList.add("is-invalid");
                document.getElementById("male_"+id).classList.add("is-invalid");
                return;
            }else{
                document.getElementById("female_"+id).classList.remove("is-invalid");
                document.getElementById("male_"+id).classList.remove("is-invalid");
            }
            const data = new FormData();
            data.append("id", id);
            data.append("start_time", start_time);
            data.append("finish_time", finish_time);
            data.append("now_capacity", now_capacity);
            data.append("female", female);
            data.append("male", male);
            $.ajax({
                type: "POST",
                url: "setPeople",
                data: data,
                processData : false,
                contentType : false,
                success: function (data) {
                    if(data == 0) {
                        location.href = "/login";
                    }
                },
                error: function (xhr,err){
                    alert("관리자에게 문의하세요.");
                }
            });
        }
    }

    function delData(id) {
        if(id != null || id != ""){
            if(confirm("정말로 삭제 하시겠습니까?")){
                $.ajax({
                    type: "POST",
                    url: "delData",
                    data: "id="+id,
                    dataType:"json",
                    success: function (data) {
                        if(data == 1) {
                            const del = document.getElementById(id);
                            while(del.firstChild) {
                                del.removeChild(del.firstChild);
                            }
                        }else if(data == 0) {
                            location.href = "/login";
                        }
                    },
                    error: function (xhr,err){
                        alert("관리자에게 문의하세요.");
                    }
                });
            }
        }
    }

    function compareTime(start, finish, id) {
        let start_isInvalid = 0;
        let finish_isInvalid = 0;
        let isInvalid = 0;
        if((start != null && finish != null) && (start != "" && finish != "")){
            if(start.indexOf("am") != -1 || start.indexOf("pm") != -1){
                const replace_time = start.replace("am","");
                const split_time = replace_time.split(":");
                if(isNumeric(split_time[0]) && isNumeric(split_time[1])){
                    if(!((split_time[0].length == 2 || split_time[0].length == 1) && split_time[1].length == 2)){
                        start_isInvalid++
                    }
                }else{
                    start_isInvalid++;
                }
            }else{
                start_isInvalid++;
            }
            if(finish.indexOf("am") != -1 || finish.indexOf("pm") != -1){
                const replace_time = finish.replace("am","");
                const split_time = replace_time.split(":");
                if(isNumeric(split_time[0]) && isNumeric(split_time[1])){
                    if(!((split_time[0].length == 2 || split_time[0].length == 1) && split_time[1].length == 2)){
                        finish_isInvalid++
                    }
                }else{
                    finish_isInvalid++;
                }
            }else{
                finish_isInvalid++;
            }
        }else{
            isInvalid++;
        }
        if(start_isInvalid > 0){
            document.getElementById("start_time_"+id).classList.add("is-invalid");
        }else{
            document.getElementById("start_time_"+id).classList.remove("is-invalid");
        }
        if(finish_isInvalid > 0){
            document.getElementById("finish_time_"+id).classList.add("is-invalid");
        }else{
            document.getElementById("finish_time_"+id).classList.remove("is-invalid");
        }
        isInvalid = isInvalid + finish_isInvalid + start_isInvalid;
        return isInvalid;
    }

    function isNumeric(value){
        return !isNaN(Number(value));
    }

    function modify(id) {
        location.href="/customer?id="+id;
    }
</script>
<body>
<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="profile">
                <a class="navbar-brand" href="#"><img th:src="@{/images/iconmonstr-user-circle-thin-240.png}"></a>
            </div>
            <div class="title">
                <span>가게 목록</span>
            </div>
            <div class="burger">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">지도 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">프로필</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div th:each="list : ${list}" class="list_info" th:id="${list.id}">
            <input type="hidden" th:value="${list.id}">
            <h4 th:text="${list.organizationName}"></h4>
            <div class="list_row">
                <span class="cell col1">영업시간</span>
                <span class="cell col2"><input type="text" class="form-control time" th:id="'start_time_'+${list.id}" th:value="${list.startTime}"></span>
                <span class="cell col3"><input type="text" class="form-control time" th:id="'finish_time_'+${list.id}" th:value="${list.finishTime}"></span>
            </div>
            <div class="list_row">
                <span class="cell col1">수용인원</span>
                <span class="cell col2"></span>
                <span class="cell col3" th:text="${list.totalCapacity + '명'}"></span>
            </div>
            <div class="list_row">
                <span class="cell col1">현재 인원</span>
                <span class="cell col2"></span>
                <span class="cell col3">
                    <input type="number" class="form-control" th:id="'now_capacity_'+${list.id}" th:value="${list.nowCapacity}">
                </span>
            </div>
            <div class="list_row">
                <span class="cell col1">여성</span>
                <span class="cell col2"></span>
                <span class="cell col3">
                    <input type="number" class="form-control" th:id="'female_'+${list.id}" th:value="${list.female}">
                </span>
            </div>
            <div class="list_row">
                <span class="cell col1">남성</span>
                <span class="cell col2"></span>
                <span class="cell col3">
                    <input type="number" class="form-control" th:id="'male_'+${list.id}" th:value="${list.male}">
                </span>
            </div>
            <div class="list_row">
                <span class="cell col1">여성비율</span>
                <span class="cell col2"></span>
                <span class="cell col3" th:text="${list.nowCapacity != 0 ? list.female/list.nowCapacity+'%' : '0%'}">33%</span>
            </div>
            <div class="list_row">
                <span class="cell col1">
                    <button class="btn btn-warning" th:onclick="modify([[${list.id}]])">수정</button>
                    <button class="btn btn-danger" th:onclick="delData([[${list.id}]])">삭제</button>
                </span>
                <span class="cell col2"></span>
                <span class="cell col3"><button class="btn btn-info" th:onclick="setPeople([[${list.id}]])">적용</button></span>
            </div>
            <hr>
        </div>
        <div class="add_btn">
            <button class="btn btn-success" onclick="location.href='/customer'">등록</button>
        </div>
    </section>
</div>
</body>
</html>