<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=279826e384548af3dcc55dae17451e73&libraries=services"></script>
    <title>시티헌터</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer/main.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<script>
let hunterMarkers = new Array();

let searchMarks = new Array();

let count = 0;

let data = new Map();

let map = null;

let currentMarker = null;

// 주소-좌표 변환 객체를 생성합니다
const geocoder = new kakao.maps.services.Geocoder();

// 장소 검색 객체를 생성합니다
const places = new kakao.maps.services.Places();

window.onload = function () {
//****************************************************************************************************************
// Init 시작
// ***************************************************************************************************************
    map = generateMap();

    window.onresize = function() {
        resize();
    };

//****************************************************************************************************************
// Init 끝
// ***************************************************************************************************************
//****************************************************************************************************************
// Action 시작
// ***************************************************************************************************************
    $('#keyword').on('keydown',function (e) {
        var keyCode = e.which;
        if (keyCode === 13) { // Enter Key
            //마커 초기화
            reset();

            // 키워드로 장소를 검색합니다
            places.keywordSearch(document.getElementById("keyword").value, generateMarkerByKeyWord);

            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(document.getElementById("keyword").value, generateMarkerByJuso);
        }
    });

    kakao.maps.event.addListener(map, 'click', function () {
        if(currentMarker != null){
            const idValue = currentMarker.getTitle();
            if(idValue !== ""){
                $("#"+idValue).remove();
            }
            currentMarker.setDraggable(false);
            currentMarker.setImage(markerImage());
            resize();
            // currentMarker = null;
        }
    });
}

//****************************************************************************************************************
// Action 끝
// ***************************************************************************************************************
function generateMap() {
    // 지도를 표시할 div
    const mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(37.5546788388674, 126.970606917394), // 지도의 중심좌표
            level: 10 // 지도의 확대 레벨
        };

    const map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 지도 위에 표시되도록 설정합니다
    generateHunterMarker();

    return map;
}

function reset() {
    const beforeDetail = document.getElementById("marker_detail"); while ( beforeDetail.hasChildNodes() ) { beforeDetail.removeChild( beforeDetail.firstChild ); }
    searchMarks.forEach(function(marker){
        marker.setMap(null)
    });
    if(currentMarker != null){
        currentMarker.setImage(markerImage());
    }
    count = 0;
    currentMarker = null;
    data = null;
    searchMarks = null;
    data = new Map();
    searchMarks = new Array();
}

async function getPlace() {
    let hunting_place = null;
    await $.ajax({
        type: "POST",
        url: "/getPlace",
        success: function (data) {
            if(data != null) {
                hunting_place = data;
            }
        },
        error: function (xhr,err){
            alert("관리자에게 문의하세요.");
        }
    });
    return hunting_place;
}

function generateHunterMarker(){
    getPlace().then(function(result) {
        if(result != null){
            result.forEach(function(place){
                let count = 0;
                if((place.locationX != null && place.locationX != "")&& (place.locationY != null && place.locationY != "")){

                    const markerPosition = new kakao.maps.LatLng(place.locationX, place.locationY); // 마커가 표시될 위치입니다

                    // 마커를 생성합니다
                    const marker = new kakao.maps.Marker({
                        map,
                        position: markerPosition,
                    });
                    if(place.address == null || place.roadAddress == null){
                        searchDetailAddrFromCoords(markerPosition, place);
                    }

                    const div_id = "hunter_"+place.id;
                    marker.setTitle(div_id);
                    data.set(div_id, place);
                    if(count == 0){
                        marker.setImage(markerImage(42));
                        currentMarker = marker;
                        map.setCenter(markerPosition);
                    }else{
                        marker.setImage(markerImage());
                    }

                    // 마커 리스너 등록
                    addMarkerEventListener(marker);
                    marker.setMap(map);
                    hunterMarkers.push(marker);
                    count++;
                }
            });
            resize(1);
        }
    });
}
function generateMarkerByClick(place){
    let markerPosition = null;
    if(place === null || place ===undefined){
        markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다
    }else {
        markerPosition = new kakao.maps.LatLng(place.x, place.y);
    }

    // 마커를 생성합니다
    let marker = new kakao.maps.Marker({
        map,
        position: markerPosition,
        image: markerImage() // 마커이미지 설정
    });

    // 마커가 드래그 가능하도록 설정합니다
    marker.setDraggable(true);

    // 마커에 클릭이벤트를 등록합니다
    markerClick(marker, place);

    return marker;
}

function searchDetailAddrFromCoords(coords, place) {
    // 좌표로 상세 주소 정보를 요청합니다
    geocoder.coord2Address(coords.getLng(), coords.getLat(), function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            if(place.roadAddress == null){
                place.roadAddress = result[0].road_address.address_name;
            }
            if(place.address == null){
                place.address = result[0].address.address_name;
            }
            displayData("hunter_"+place.id);
        }
    });
}

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function generateMarkerByKeyWord (result, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        const bounds = new kakao.maps.LatLngBounds();
        for (let i=0; i<result.length; i++) {
            const coords = new kakao.maps.LatLng(result[i].y, result[i].x);
            // 마커를 생성합니다
            let marker = new kakao.maps.Marker({
                map,
                position: coords,
                image: markerImage() // 마커이미지 설정
            });
            const div_id = "keyword_"+count;

            data.set(div_id, result[i]);
            if(i == 0 && count == 0){
                displayData(div_id);
                currentMarker = marker;
                marker.setImage(markerImage(42));
            }else{
                marker.setImage(markerImage());
            }
            marker.setTitle(div_id);

            count++;

            // 마커 리스너 등록
            addMarkerEventListener(marker);
            searchMarks.push(marker);
            bounds.extend(coords);
        }

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }
}

function generateMarkerByJuso (result, status) {
    // 정상적으로 검색이 완료됐으면
    if (status === kakao.maps.services.Status.OK) {
        for(let i=0;i<result.length;i++){
            const coords = new kakao.maps.LatLng(result[i].y, result[i].x);
            const div_id = "juso_"+count;
            data.set(div_id, result[i]);
            // 결과값으로 받은 위치를 마커로 표시합니다
            // 마커를 생성합니다
            const marker = new kakao.maps.Marker({
                map,
                position: coords
            });
            marker.setTitle(div_id);
            if(i == 0 && count == 0){

                displayData(div_id);

                marker.setImage(markerImage(42));

                const bounds = new kakao.maps.LatLngBounds();

                bounds.extend(coords);
                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                map.setBounds(bounds);
                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);

                currentMarker = marker;

            }else{
                marker.setImage(markerImage());
            }
            count++;
            searchMarks.push(marker);
            // 마커 리스너 등록
            addMarkerEventListener(marker);
        }
    }
}

function addMarkerEventListener(marker) {
    // 마커에 mouseover 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseover', function() {
        marker.setImage(markerImage(42));
    });

    // 마커에 mouseout 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseout', function() {
        marker.setImage(markerImage());
    });

    // 마커에 click 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        marker.setClickable(true);
        if(currentMarker != null){
            const removeValue = currentMarker.getTitle();
            if(removeValue !== ""){
                $("#"+currentMarker.getTitle()).remove();
            }
        }
        displayData(marker.getTitle());
        if(currentMarker != null){
            currentMarker.setDraggable(false);
            currentMarker.setImage(markerImage());
        }
        currentMarker = marker;
        marker.setImage(markerImage(42));
        // 마커가 드래그 가능하도록 설정합니다
        marker.setDraggable(true);
    });
}

function displayData(id) {
    for (let [key, value] of data) {
        if(key == id){
            const splitKey = key.split("_");
            if(splitKey[0] == "keyword"){
                let num1 = null;
                let num2 = null;
                let num3 = null;
                if(value.phone != null || value.phone != ""){
                    const number = value.phone.replace(/\-/g,"").replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3");
                    const split_number = number.split("-");
                    num1 = split_number[0];
                    num2 = split_number[1];
                    num3 = split_number[2];
                }
                $("#marker_detail").append(
                '<div id='+ key+ '>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="가게명" class="form-control" name="organization_name" id="organization_name" value="'+ value.place_name +'"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="대표자명" class="form-control" name="owner_name" id="owner_name"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="road_address" id="road_address" value="'+ value.road_address_name +'" readonly="readonly"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="address" id="address" value="'+ value.address_name +'" readonly="readonly"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <select class="form-control" id="division" onchange="selectBoxControl(this.value);">'
                +'      <option value="0" selected="selected">단체종류</option>'
                +'      <option value="1">개인사업자</option>'
                +'      <option value="2">영리법인</option>'
                +'      <option value="3">비영리법인</option>'
                +'  </select>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="사업자등록번호" class="form-control" name="company_code" id="company_code" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="법인등록번호" class="form-control" name="corporate_code" id="corporate_code" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="number" placeholder="총 수용인원" name="total_capacity" id="total_capacity" class="form-control"/>'
                +'</div>'
                +'<div class="detail_text_phone">'
                +'  <input type="number" placeholder="010" name="num1" id="num1" value="'+ num1 +'" class="form-control first"/>'
                +'  <input type="number" placeholder="1234" name="num2" id="num2" value="'+ num2 +'" class="form-control second"/>'
                +'  <input type="number" placeholder="1234" name="num3" id="num3" value="'+ num3 +'" class="form-control third"/>'
                +'</div>'
                +'<div class="detail_btn">'
                +'  <button class="btn btn-success" type="button" onclick="submit();">등록</button>'
                +'</div>'
                +'</div>'
                );
                resize(2);
            }else if(splitKey[0] == "juso"){
                const road_address = value.road_address == null ? null : value.road_address.address_name;
                $("#marker_detail").append(
                 '<div id='+ key+ '>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="가게명" class="form-control" name="organization_name" id="organization_name"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="대표자명" class="form-control" name="owner_name" id="owner_name"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="road_address" id="road_address" value="'+ road_address +'" readonly="readonly"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="address" id="address" value="'+ value.address.address_name +'" readonly="readonly"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <select class="form-control" id="division" onchange="selectBoxControl(this.value);">'
                +'      <option value="0" selected="selected">단체종류</option>'
                +'      <option value="1">개인사업자</option>'
                +'      <option value="2">영리법인</option>'
                +'      <option value="3">비영리법인</option>'
                +'  </select>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="사업자등록번호" class="form-control" name="company_code" id="company_code" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="법인등록번호" class="form-control" name="corporate_code" id="corporate_code" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="number" placeholder="총 수용인원" name="total_capacity" id="total_capacity" class="form-control"/>'
                +'</div>'
                +'<div class="detail_text_phone">'
                +'  <input type="number" placeholder="010" name="num1" id="num1" class="form-control first"/>'
                +'  <input type="number" placeholder="1234" name="num2" id="num2" class="form-control second"/>'
                +'  <input type="number" placeholder="1234" name="num3" id="num3" class="form-control third"/>'
                +'</div>'
                +'<div class="detail_btn">'
                +'  <button class="btn btn-success" type="button" onclick="submit();">등록</button>'
                +'</div>'
                +'</div>'
                );
                if(value.road_address == null){
                    document.getElementById("road_address").style.display = "none";
                }else{
                    document.getElementById("address").style.display = "none";
                }
                resize(2);
            }else if(splitKey[0] == "hunter"){
                const organization_name = value.organizationName == null ? "" : value.organizationName;
                const owner_name = value.ownerName == null ? "" : value.ownerName;
                const road_address = value.roadAddress;
                const address = value.address;
                const division = value.division == null ? 0 : value.division;
                let company_code = null;
                let corporate_code = null;
                const total_capacity = value.totalCapacity;
                let num1 = null;
                let num2 = null;
                let num3 = null;
                if(value.telNumber != 0){
                    const number = (value.telNumber.toString()).replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3");
                    const split_number = number.split("-")[0];
                    num1 = split_number[0];
                    num2 = split_number[1];
                    num3 = split_number[2];
                }
                $("#marker_detail").append(
                 '<div id="'+ key +'">'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="가게명" class="form-control" name="organization_name" id="organization_name" value="'+ organization_name +'"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="대표자명" class="form-control" name="owner_name" id="owner_name" value="'+ owner_name +'"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="road_address" id="road_address" readonly="readonly" value="'+ road_address +'"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="text" placeholder="주소" class="form-control" name="address" id="address" readonly="readonly" value="'+ address +'"/>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <select class="form-control" id="division" onchange="selectBoxControl(this.value);">'
                +'      <option value="0" selected="selected">단체종류</option>'
                +'      <option value="1">개인사업자</option>'
                +'      <option value="2">영리법인</option>'
                +'      <option value="3">비영리법인</option>'
                +'  </select>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="사업자등록번호" class="form-control" name="company_code" id="company_code" value="'+ company_code +'" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text none">'
                +'  <input type="number" placeholder="법인등록번호" class="form-control" name="corporate_code" id="corporate_code" value="'+ corporate_code +'" onfocusout="focusOut(this);"/>'
                +'  <div class="invalid-feedback">필수 정보 입니다.</div>'
                +'</div>'
                +'<div class="detail_text">'
                +'  <input type="number" placeholder="총 수용인원" name="total_capacity" id="total_capacity" value="'+ total_capacity +'" class="form-control"/>'
                +'</div>'
                +'<div class="detail_text_phone">'
                +'  <input type="number" placeholder="010" name="num1" id="num1" value="'+ num1 +'" class="form-control first"/>'
                +'  <input type="number" placeholder="1234" name="num2" id="num2" value="'+ num2 +'" class="form-control second"/>'
                +'  <input type="number" placeholder="1234" name="num3" id="num3" value="'+ num3 +'" class="form-control third"/>'
                +'</div>'
                +'<div class="detail_btn">'
                +'  <button class="btn btn-success" type="button" onclick="submit();">등록</button>'
                +'</div>'
                +'</div>'
                );
                if(division == 0){
                    document.getElementById("division").options[0].selected = "selected";
                }else if(division == 1){
                    document.getElementById("division").options[1].selected = "selected";
                    selectBoxControl(1);
                    document.getElementById("company_code").value = value.companyCode;
                }else if(division == 2){
                    document.getElementById("division").options[2].selected = "selected";
                    selectBoxControl(2);
                    document.getElementById("company_code").value = value.companyCode;
                    document.getElementById("corporate_code").value = value.corporateCode;
                }else if(division == 3){
                    document.getElementById("division").options[3].selected = "selected";
                    selectBoxControl(3);
                    document.getElementById("corporate_code").value = value.corporateCode;
                }
                if(road_address == null){
                    document.getElementById("road_address").style.display = "none";
                }else{
                    document.getElementById("address").style.display = "none";
                }
            }
        }
    }
}

function markerImage(size) {
    if(size == null){
        const imageSrc = 'http://127.0.0.1:8081/images/iconmonstr-location-small-blue-32.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(32, 32), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(20, 32)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
        return markerImage;
    } else {
        const imageSrc = 'http://127.0.0.1:8081/images/iconmonstr-location-big-48.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(size, size), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(25, size)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
        return markerImage;
    }
}

function resize(division) {
    let position = null;
    if(currentMarker != null){
        position = currentMarker.getPosition();
    }else{
        position = new kakao.maps.LatLng(37.54699, 127.09598);
    }
    const map_size = window.outerHeight - (document.getElementsByTagName("header")[0].offsetHeight + document.getElementById("marker_detail").offsetHeight);
    document.getElementsByTagName("section")[0].style.height = map_size+"px";
    map.relayout();
    map.setCenter(position);

    // if(division != undefined || division == 1){
    //
    // }
}

function selectBoxControl(value) {
    if(value == 0){
        document.getElementById("company_code").parentNode.style.display = "none";
        document.getElementById("corporate_code").parentNode.style.display = "none";
    }else if(value == 1){
        document.getElementById("division").classList.remove("is-invalid");
        document.getElementById("company_code").parentNode.style.display = "block";
        document.getElementById("corporate_code").parentNode.style.display = "none";
    }else if(value == 2){
        document.getElementById("division").classList.remove("is-invalid");
        document.getElementById("company_code").parentNode.style.display = "block";
        document.getElementById("corporate_code").parentNode.style.display = "block";
    }else if(value == 3){
        document.getElementById("division").classList.remove("is-invalid");
        document.getElementById("company_code").parentNode.style.display = "none";
        document.getElementById("corporate_code").parentNode.style.display = "block";
    }
    resize(2);
}
</script>
<body>
<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="profile">
                <a class="navbar-brand" href="#"><img th:src="@{/images/iconmonstr-user-circle-thin-240.png}"></a>
            </div>
            <div class="search">
                <input class="form-control mr-sm-2" type="text" id="keyword" placeholder="장소 검색">
            </div>
            <div class="burger">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="map" id="map">
        </div>
    </section>
    <div id="marker_detail">
<!--        <div class="detail_text">-->
<!--            <input type="text" placeholder="가게명" class="form-control" name="organization_name" id="organization_name"/>-->
<!--        </div>-->
<!--        <div class="detail_text">-->
<!--            <input type="text" placeholder="주소" class="form-control" name="organization_road_address" id="organization_road_address" readonly="readonly"/>-->
<!--        </div>-->
<!--        <div class="detail_text">-->
<!--            <select class="form-control" id="division">-->
<!--                <option th:value="0" selected="selected">단체종류</option>-->
<!--                <option th:value="1">개인사업자</option>-->
<!--                <option th:value="2">영리법인</option>-->
<!--                <option th:value="3">비영리법인</option>-->
<!--            </select>-->
<!--            <div class="invalid-feedback">필수 정보 입니다.</div>-->
<!--        </div>-->
<!--        <div class="detail_text none">-->
<!--            <input type="number" placeholder="사업자등록번호" class="form-control" name="company_code" id="company_code" onfocusout="focusOut(this);"/>-->
<!--            <div class="invalid-feedback">필수 정보 입니다.</div>-->
<!--        </div>-->
<!--        <div class="detail_text none">-->
<!--            <input type="number" placeholder="법인등록번호" class="form-control" name="corporate_code" id="corporate_code" onfocusout="focusOut(this);"/>-->
<!--            <div class="invalid-feedback">필수 정보 입니다.</div>-->
<!--        </div>-->
<!--        <div class="detail_text">-->
<!--            <input type="number" placeholder="총 수용인원" class="form-control"/>-->
<!--        </div>-->
<!--        <div class="detail_text_phone">-->
<!--            <input type="number" placeholder="010" class="form-control first"/>-->
<!--            <input type="number" placeholder="1234" class="form-control second"/>-->
<!--            <input type="number" placeholder="1234" class="form-control third"/>-->
<!--        </div>-->
<!--        <div class="detail_btn">-->
<!--            <button class="btn btn-success" type="button" onclick="submit();">등록</button>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>