/*#marker_detail div {display: none;}*/

.profile {width: 10%; text-align: center;}
.profile a {margin: 0;}
.profile img {width: 24px; height: 24px;}

.search {width: 70%; padding: 0 5%;}
.burger {width: 20%; text-align: center;}

footer {position: absolute; left: 0; bottom: 0; width: 100%; background-color: rgb(24, 188, 156); }
.footer_item {width: 33%; height: 100px; text-align: center;}
.footer_item a {width: 100%; height: 100%; display: inline-block; padding: 35px 0;}
